.rotate{
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.rotate:hover  
{
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -o-transform:rotate(10deg);
}  

.dice .img-responsive {
    margin: 0 auto;
}
#header {
    margin-top: 10%;
}

#header h1 {
    font-size: 50px;
    font-family: Muli;
}

.social-share {
    margin-top: 1em;
}